/* FONT IMPORT */
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


/* COLOR REFERENCE
 .color {
  color: #ea5353;
  color: #45d3d3;
  color: #fcaf4a;
  color: #549ef2;
  color: #4c4e61;
  color: #a3a5ae;
  color: #fafafa;
} */

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  padding: 87px 0;
}

/* HEADER */
header {
  color: #4c4e61;
  text-align: center;
}

header h1 {
  font-size: 2.44rem;
  font-weight: 200;
  margin: 0 auto;
}
header h1 span {
  display: block;
  font-weight: 600;
  margin: 15px 0;
}

header p {
  color: #a3a5ae;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 25px auto;
  max-width: 500px;
}

/* MAIN */
.container {
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas: 'supervisor team calculator'
  'supervisor karma calculator';
  margin-top: 65px;
  max-width: 1110px;
  width: 90%;
}
.supervisor {
  align-self: center;
  grid-area: supervisor;
}
.team {
  grid-area: team;
}
.calculator {
  align-self: center;
  grid-area: calculator;
}
.karma {
  grid-area: karma;
}